:root {
  scroll-behavior: smooth;
}

body {
  font-family: Garamond , serif;
  background: url(https://i.ibb.co/qkJ7KbR/rainforest-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -background-size: cover;
 
}

header {
  padding: 24px;
  position: sticky;
  top: 0;
  height: 100px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 7;
}

p {
  font-size: 20px;
}

nav a {
  padding: 0 16px;
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: green;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
}

#section-1 {
background: rgba(255, 255, 255, 0.6);
}

#section-2 {
background: rgba(255, 255, 255, 0.6);
}

#section-3 {
background: rgba(255, 255, 255, 0.6);
}

#section-4 {
background: rgba(255, 255, 255, 0.6);
}

#section-5 {
background: rgba(255, 255, 255, 0.6);
}

#section-6 {
background: rgba(255, 255, 255, 0.6);
}

#section-7 {
background: rgba(255, 255, 255, 0.6);
}

#section-8 {
background: rgba(255, 255, 255, 0.6);
}

#section-9 {
background: rgba(255, 255, 255, 0.6);
}

div {
  padding-right: 30px;
  padding-left: 30px;
}